.tree-node {
    margin-left: 20px;
    font-size: x-large;
    color: black;

    .node-label {
        cursor: pointer;
        padding: 4px;
    }

    &.folder {
        font-weight: 600;
        color: black;
    }

    &.file {
        color: #555;
    }
}

.children {
    margin-left: 30px;
    border-left: 1px dashed #ccc;
    padding-left: 10px;
}
